@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h2 class="display-4" style="font-family:'MS UI Gothic'">Kitap Sayfamıza Hoşgeldiniz</h2>
   <img src="~/img/kitap.jpg"/>
</div>
